<h1>
  確認画面
</h1>

<table>
<tr>
  <th>ルームイメージ:</th>
  <td>
    <div>
      <%= image_tag @room.room_image , class:"confirm_room_image"%>
    </div>
  </td>
</tr>
<tr>
  <th>ルームネーム:</th>
  <td>
    <%= params[:room_name] %>
  </td>
</tr>
<tr>
  <th>場所:</th>
  <td>
    <%= @room.adress %>
  </td>
</tr>
<tr>
  <th>ルーム紹介:</th>
  <td>
    <%= @room.room_introduction %>
  </td>
</tr>
<tr>
  <th>開始日：</th>
  <td>
    <%= @reservation.start_day.to_s(:datetime_jp) %>
  </td>
</tr>
<tr>
  <th>終了日：</th>
  <td>
    <%= @reservation.end_day.to_s(:datetime_jp) %>
  </td>
</tr>
<tr>
  <th>料金/日:</th>
  <td>
    ¥<%= @reservation.charge %>
  </td>
</tr>
<tr>
  <th>人数:</th>
  <td>
    <%= @reservation.people %>人
  </td>
</tr>
<tr>
  <th>合計料金:</th>
  <td>
    <% r = @reservation %>
    <% total_day = (((r.end_day - r.start_day) / 3600 / 24 ) + 1 ).floor%>
    <% total_price = r.charge * r.people * total_day %>
    ¥<%= total_price %>
    </td>
</tr>
</table>

<%= @room.adress %>


<%= form_with model: @reservation, local: true do |f| %>
  <%= f.hidden_field :room_name, :value => params[:room_name] %>
  <%= f.hidden_field :adress, :value => @room.adress %>
  <%= f.hidden_field :room_introduction, :value => @room.room_introduction %>
  <%= f.hidden_field :start_day, :value => params[:start_day] %>
  <%= f.hidden_field :end_day, :value => params[:end_day] %>
  <%= f.hidden_field :people, :value => params[:people] %>
  <%= f.hidden_field :charge, :value => params[:charge] %>
  <%= f.hidden_field :img, :value => @room.room_image %>
  <%= f.hidden_field :user_id, :value => current_user.id%>
  <%= f.hidden_field :room_id, :value => @room.id%>
  <%= f.submit "予約する" %>
  <%= f.submit "修正する" , name: "back" %>
<% end %>
