<h1>Rooms#new 新規ルーム登録画面</h1>
<%= flash[:notice] %>
  <%= form_with model: @room, local: true do |r| %>
    <table>
      <tr>
        <th>
          <%= r.label :room_name ,"ルームネーム" %>
        </th>
        <td>
          <%= r.text_field :room_name %>
        </td>
      </tr>
      <tr>
        <th>
          <%= r.label :address ,"場所" %>
        </th>
        <td>
          <%= r.text_field :address %>
        </td>
      </tr>
      <tr>
        <th>
          <%= r.label :room_introduction ,"ルーム紹介" %>
        </th>
        <td>
          <%= r.text_field :room_introduction %>
        </td>
      </tr>
      <tr>
        <th>
          <%= r.label :charge ,"料金/日" %>
        </th>
        <td>
          <%= r.text_field :charge %>
        </td>
      </tr>
        <th>
          <%= r.label :avatar, "ルーム画像" %>
        </th>
        <td>
          <%= r.file_field :avatar %>
        </td>
    </table>
      <%= r.hidden_field :user_id, value: @user.id %>
        <%= r.submit "登録完了する" %>
          <% end %>
        <% if @room.avatar? %>
            <strong>Avatar:</strong>
            <%= image_tag @room.avatar.url %>
          <% end %>
