<h3>この部屋を予約しようとしているユーザー</h3>
<table>
  <tr>
    <th>ID</th>
    <td>
      <%= params[:format] %>
    </td>
  </tr>
  <tr>
    <th>名前</th>
    <td>
      <%= @current_user.user_name %>
    </td>
  </tr>
  <table>
  <h3>ルーム一覧</h3>
  <thead>
    <tr>
      <th>id</th>
      <th>ルームネーム</th>
      <th>料金</th>
      <th>投稿者ID</th>
      <th>予約(show)</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |r| %>
      <tr>
        <td>
          <%= r.id %>
        </td>
        <td>
          <%= r.room_name %>
        </td>
        <td>
          <%= r.charge %>
        </td>
        <td>
          <%= r.user_id %>
        </td>
        <td>
          <%= link_to "予約する" , room_path(r,@current_user) %>
        </td>
        <td>
          <%= link_to "削除" , r, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
