<h3>ルーム予約</h3>
<h3>この部屋を予約しようとしているユーザー</h3>
<table>
  <tr>
    <th>ID</th>
    <td>
      <%= @current_user.id %>
    </td>
  </tr>
  <tr>
    <th>名前</th>
    <td>
      <%= @current_user.user_name %>
    </td>
  </tr>
</table>
-----------------------------------------------------------------
<%= form_with url: confirm_reservation_path do |f| %>
  <table>
    <tr>
      <th>
        <%= f.label :user_id ,"投稿者ID" %>
      </th>
      <td>
        <%= @room.user_id %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :user_name ,"投稿者名" %>
      </th>
      <td>
        <%= @user.user_name %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :user_id ,"ルームID" %>
      </th>
      <td>
        <%= @room.id %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :user_name ,"ルーム画像" %>
      </th>
      <td>
        <% if @room.avatar? %>
          <%= image_tag @room.avatar.url,class: "room_image" %>
            <% end %>
      </td>
    </tr>

    <tr>
      <th>
        <%= f.label :room_name ,"ルームネーム" %>
      </th>
      <td>
        <%=  @room.room_name %>
          <!-- ビューに表示されるが編集不可 -->
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :charge ,"料金" %>
      </th>
      <td>
        <%= @room.charge %>
          <!-- ビューに表示されるが編集不可 -->
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :start_date ,"開始日" %>
      </th>
      <td>
        <%= f.date_field :start_date %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :end_date ,"終了日" %>
      </th>
      <td>
        <%= f.date_field :end_date %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :people ,"人数" %>
      </th>
      <td>
        <%= f.number_field :people %>
      </td>
    </tr>
  </table>
      <%= f.submit "確認画面へ" %>
      <%= f.hidden_field :current_user_id, value: @current_user.id %>
      <%= f.hidden_field :charge, value: @room.charge %>
      <%= f.hidden_field :room_name, value: @room.room_name %>
      <%= f.hidden_field :avatar, value: @room.avatar
  %>
<% end %>

          <ul>
            <li>
              <%= link_to "ユーザー情報一覧に戻る" , :users %>
            </li>
          </ul>
